/*
 * Creative Commons Search Interface
 * 1.0 - 2006-07
 * 
 */

body {
	background: url('images/bg-std.png') repeat-x top left;
	background-color: #fafafa;
	color: #333;
	font: 0.8em/150% "Lucidia Grande", verdana, arial, sans-serif;
	padding: 0;
	margin: 15px;
	margin-bottom: 0;
}

a, a:link {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#ff-box {
	width: 110px;
	height: 45px;
	background-image: url("images/ff-logo.png");
	position: fixed;
	background-repeat: no-repeat;
	bottom: 0px;
	left: -10px;
	display: none;
}

#thanks {
	position: relative;
	left: 112px;
	bottom: 20px;
	padding-top: 43px;
	font-size: 10px;
	width: 300px;
}

#footer {
	clear: both;
	text-align: center;
	font-size: 9px;
	margin-top: 2px;
}

#header-box {
	overflow:hidden;
}
#header {
	width: 930px;
}

#title {
	float: left;
	width: 190px;
	height: 60px;
	/*border-right: 1px solid #b0b0b0;*/
	margin-right: 10px;
	margin-bottom: 15px;
	padding: 7px 5px;
	overflow: hidden;
}

#title span {
	display: none;
}
#title img {
/*	padding: 7px 5px;*/
}

#search {
	float: left;
	padding: 10px 0 5px 10px;
	margin-left: 10px;
	width: 640px;
/*	border-right: 1px solid #b0b0b0;*/
}

#left {
	padding-top: 15px;
	float: left;
}
#right {
	float: right;
	font-size: 0.8em;
	margin-top: 0px;
}

#subNFO { margin: 5px 0 -4px 2px; }
#subCC { margin: 5px 0 -4px 2px; }
#subBreak { margin: 5px 0 -1px 2px; }

#results {
	clear: both;
	width: 100%;
	border: 1px solid #ccc;
	overflow: auto;
	margin-top: 0px;
	background-color: #fff;
}

.inactive {
	color: #bbb;
}
.active {
	color: #333;
}
.google {
/*	margin-bottom: -4px;
	*/
}

#menu {
	margin-top: 5px;
	margin-left: 6px;
	margin-right: 6px;
	height: 32px;
}
ul.tabs {
	list-style: none;
	display: inline;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #ccc;
}

ul.sub {
	border-bottom: none;
}
ul.sub li {
	border-bottom: 1px solid #ccc;
}

ul.tabs li {
	display: inline;
	padding: 10px 0px 0px;
	margin: 0;
}
ul.tabs li.inactive {
	background-color: #f7f7f7;
	padding-bottom: 0px;
	background: url("images/tab-bg.png") repeat-x bottom left #f7f7f7;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
ul.tabs li.active {
	padding-top: 12px;
	padding-bottom: 1px;
	background: #fff;
	border-bottom: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

ul.tabs img {
	padding-top: 7px;
}

ul.tabs a {
	padding: 10px 30px 3px;
	width: 100%;
}
